@import '@astrouxds/tokens/dist/css/index.css';
@import '@astrouxds/tokens/dist/css/theme.light.css';

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100vh;
  font-family: var(--font-display-1-font-family);
}

body {
  display: flex;
  flex-direction: column;

  /* Disable Selecting Text */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

:focus-visible,
.MuiButton-root.Mui-focusVisible,
span.Mui-focusVisible {
  outline: var(--border-width-focus-default) solid var(--color-border-focus-default);
  outline-offset: var(--spacing-focus-default);
  border-radius: var(--radius-base);
}
.MuiSwitch-switchBase.Mui-focusVisible {
  border-radius: 50%;
}

#root {
  /* Full Screen  */
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}
