.antenna_card::part(body) {
  padding: var(--spacing-050);
}

.loopback_container {
  display: flex;
  width: 240px;
  margin-top: -1rem;
  padding-top: var(--spacing-4);
}

.loopback_container::part(container) {
  background: var(--color-background-surface-default);
  border: none;
  display: flex;
}
