@font-face {
  font-family: 'Nasa';
  src: url('../../../public/nasalization-rg.otf') format('opentype');
}

.appBar img {
  padding: var(--spacing-2) var(--spacing-4) var(--spacing-2) var(--spacing-0);
}

.appBar a {
  color: var(--color-text-primary);
  text-decoration: none;
}

.switch-indicator {
  fill: var(--color-text-primary);
  height: var(--spacing-4);
  width: var(--spacing-4);
}
