@font-face {
  font-family: 'Nasa';
  src: url('../../../public/nasalization-rg.otf') format('opentype');
}

rux-global-status-bar::part(app-state) {
  background: var(--color-palette-green-900);
}

.iris-logo::part(container) {
  padding: var(--spacing-0);
}

.menu-button {
  width: 100%;
}

.menu-button::part(container) {
  display: flex;
  justify-content: flex-start;
}

rux-dialog::part(dialog){
  width: 60rem;
  max-width: 100%;
}

rux-dialog.logout-modal::part(dialog) {
  width: 400px;
}

#light-dark-switch{margin-left: var(--spacing-2);}

.user-popup::part(arrow) {
  left:  194px; /*forcing the arrow over to be below the dropdown caret*/
}
