:root {
  --PowerMonitorSize: calc(var(--spacing-1) * 37);
}

rux-button.isActive::part(container) {
  outline: var(--border-width-focus-default) solid var(--color-border-focus-default);
  outline-offset: var(--spacing-focus-default);
}

rux-button.isTransmitting::part(container) {
  background: var(--color-palette-green-500);
  box-shadow: var(--color-palette-green-500);
  color: var(--color-text-black);
}

/* rux-push-button::part(container) {
  min-width: var(--spacing-14);
} */

.modemButtonBox {
  display: flex;
  height: calc(100% + 2rem);
  margin-top: -1rem;
}
.modemButtonBox::part(container) {
  background: var(--color-background-base-default);
  border: none;
  display: flex;
}
.modemButtonBox::part(body) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: stretch;
}

.progress-error {
  color: var(--color-text-error);
  font-weight: 700;
  margin-bottom: 0;
  margin-left: calc(var(--spacing-16) + var(--spacing-2));
}

.power-monitor {
  margin: 0 auto;
  display: block;
}
.power-monitor::part(radial-progress) {
  width: var(--PowerMonitorSize);
  height: var(--PowerMonitorSize);
}
.power-monitor::part(icon-group) {
  width: var(--PowerMonitorSize);
}

.power-monitor::part(progress-display) {
  font-family: var(--font-heading-3-font-family);
  font-size: var(--font-heading-3-font-size);
  font-weight: var(--font-heading-3-font-weight);
  letter-spacing: var(--font-heading-3-letter-spacing);
  margin-top: -0.9rem;
}

.power-monitor::part(status-icon) {
  display: none;
}

.power-monitor::part(monitoring-label) {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--PowerMonitorSize);
  height: 100%;
  color: var(--color-text-placeholder);
  font-family: var(--font-body-1-font-family);
  font-size: var(--font-body-1-font-size);
  font-weight: var(--font-body-1-font-weight);
  letter-spacing: var(--font-body-1-letter-spacing);
  max-width: 100%;
  margin-left: -0.25rem;
  margin-top: var(--spacing-2);
}
