.art-grid {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: var(--spacing-2);
  padding: var(--spacing-4) var(--spacing-0);
  flex-grow: 1;
}
.art-grid > * {
  flex-basis: 33%;
}

.art-grid rux-menu-item div {
  display: flex;
  align-items: center;
}

.art-grid rux-menu-item rux-icon {
  margin-right: var(--spacing-2);
}

.art-grid rux-select::part(label),
.art-grid rux-input::part(label) {
  min-width: var(--spacing-20);
  padding-right: var(--spacing-2);
  text-align: right;
}

.case-grid {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: 'grid';
}

.art-grid rux-container {
  display: flex;
  align-self: stretch;
}

.art-grid .grid-header rux-tooltip::part(trigger-container) {
  display: flex;
  align-items: center;
}

.art-grid .status-icons {
  margin-inline-end: var(--spacing-4);
}

.art-grid rux-container::part(container) {
  display: flex;
  align-self: stretch;
  flex-direction: column;
}

.art-grid rux-container::part(body) {
  height: 100%;
}

.case-grid > rux-container {
  grid-area: grid;
}
